*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to bottom right,rgba(84, 13, 2, 0.87), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
.myContainer{
    /* border: 2px solid plum; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    margin: 0.4rem;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.585);
    position: relative;
}
.icon{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 40%;
    position: relative;
}
.logoImg{
    width: 13%;
}
.icon input{
    width: 90%;
    padding: 0.5rem;
    font-size: 0.97rem;
    border: none;
    border-radius: 3rem;
    margin-left: 1rem;
    background-color: rgba(76, 60, 60, 0.521);
}
.searchLogo{
    position: absolute;
    width: 3.3%;
    left: 17.3%;
    filter: invert(1);
}
.icon input::placeholder{
    color: rgba(255, 255, 255, 0.970);
    opacity: 0.6;
    padding-left: 1.7rem;
}
.icon input:focus{
    outline: none;
    background-color: white;
    padding-left: 13.5%;
}
.icon:has(input:focus) .searchLogo {
  filter: invert(0); /* turns it black */
}
.icon span{
    display: none;
}
.icon:has(input:focus) span{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: black;
    position: absolute;
    left: 21.5%;
}
.listItems{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27%;
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: 575;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.799);
    cursor: pointer;
    position: absolute;
    left: 56.5%;
}
.lastNav{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}
.lineIcon{
    width: 1.3px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.173);
    margin-right: 13px;
}
.lastNav button{
    border: none;
    width: 100px;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 4px;
    background-color: rgb(213, 157, 2);
    cursor: pointer;
}
.lastNav button:hover{
    background-color: rgb(228, 156, 69);
}
.customDropdown{
    /* border: 2px solid pink; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.profileImage{
    width: 43%;
    border-radius: 50%;
    background-color: rgb(180, 122, 86);
    cursor: pointer;
}
.customDropdown .downarrow{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}
.hamburger{
    display: none;  
    }

    /* .myContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.3rem;
        margin: 0.4rem;
        border-radius: 0.3rem;
        background-color: rgba(0, 0, 0, 0.585);
        position: relative;
    }
    .icon{
        display: flex;
        align-items: center;
        margin-left: 0.3rem;
        cursor: pointer;
        height: 3rem;
        width: 41%;
        position: relative;
    }
    .logoImg{
        width: 4.4rem;
    }
    .icon input{
        width: 80%;
        height: 2.2rem;
        font-size: 0.9rem;
        border: none;
        border-radius: 3rem;
        margin-left: 1rem;
        background-color: rgba(76, 60, 60, 0.521);
    }
    .searchLogo{
        position: absolute;
        width: 0.5%;
        left: 16.5%;
        filter: invert(1);
    }
    .icon input::placeholder{
        color: rgba(255, 255, 255, 0.970);
        opacity: 0.6;
        padding-left: 2.5rem;
    }
    .icon input:focus{
        outline: none;
        background-color: white;
        padding-left: 13.5%;
    }
    .icon:has(input:focus) .searchLogo {
    filter: invert(0); 
    }
    .icon span{
        display: none;
    }
    .icon:has(input:focus) span{
        display: flex;
        align-items: center;
        gap: 2px;
        color: black;
        position: absolute;
        left: 21.5%;
    }
    .listItems{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 27%;
        list-style-type: none;
        font-size: 0.9rem;
        font-weight: 575;
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(255, 255, 255, 0.799);
        cursor: pointer;
        position: absolute;
        left: 57.7%;
    }
    .lastNav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 14%;
        height: 3rem;
    }
    .lineIcon{
        width: 1px;
        height: 2rem;
        background-color: rgba(255, 255, 255, 0.173);
        margin: 0 5px;
    }
    .lastNav button{
        border: none;
        width: 6rem;
        height: 1.7rem;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 4px;
        background-color: rgb(248, 145, 20);
        cursor: pointer;
    }
    .lastNav button:hover{
        background-color: rgb(228, 156, 69);
    }
    .customDropdown{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .customDropdown .downarrow{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }
    .profileImage{
        height: 2.3rem;
        width: 60%;
        border-radius: 50%;
        background-color: rgb(180, 122, 86);
        cursor: pointer;
    } */
    /* .hamburger{
        display: none;
    } */

/* header section */
.pageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 100vh;
}
.firstSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstSection h2{
    font-size: 4.3rem;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(187, 24, 81);
    margin-top: 4rem;
    padding: 10px;
    /* border: 2px solid green; */
}
.firstSection p{
    font-size: 1.1rem;
    font-family: arial;
    color: white;
    padding: 10px;
    width: 44rem;
    line-height: 1.5;
    /* border: 2px solid red; */
}
.firstSection button{
    border: none;
    border-radius: 2rem;
    width: 12rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(234, 195, 42);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.firstSection button:hover{
    transform: scale(0.95);
}

/* Carousel Header */
.carousel-container{
    margin-top: 4rem;
    width: 67rem;
    height: auto;
    border-radius: 13px;
    /* border: 2px solid green; */
}
.top-bar{
    padding: 5px;
    margin: 5px;
}
.carousel-navItems{
    display: flex;
    gap: 27px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
}
.carousel-navItems span{
    cursor: pointer;
}
.carousel-navItems span:hover{
    color: rgb(222, 174, 41);
}

/* Carousel Slides */
.carousel-box{
    border-radius: 13px;
    position: relative;
    height: 34rem;
    overflow: hidden;
}
.carousel1{
    background: linear-gradient(to bottom right, rgba(86, 18, 123, 1), rgba(86, 18, 123, 0.9), rgba(222, 29, 8, 0.688),  rgba(222, 29, 8, 0.9));
    border-radius: 13px;
    padding: 5px;
    min-height: 34rem;
}
.carousel2{
    background: linear-gradient(to right, rgb(221, 22, 95));
    border-radius: 13px;
    padding: 5px;
    min-height: 34rem;
}
.carousel3{
    background-image: 
    linear-gradient(to bottom right, dodgerblue , transparent 50%),
    linear-gradient(to bottom left, rgb(221, 176, 30) , transparent 50%),
    linear-gradient(to top right, purple , transparent 50%),
    linear-gradient(to top left, dodgerblue , transparent 50%);
    border-radius: 13px;
    padding: 5px;
    min-height: 34rem;
}
.slider1{
    width: 29rem;
    height: 20rem;
    position: absolute;
    left:3rem;
    top: 10rem;
}
.slider1 h3{
    font-size: 2.5rem;
    text-align: justify;
}
.slider1 p{
    font-size: 1rem;
    text-align: justify;
    margin-top: 1.5rem;
}
.slider1 button{
    border: none;
    border-radius: 4rem;
    padding: 0.8rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    position: relative;
    right: 9.4rem;
}
.slider2{
    width: 29rem;
    height: 20rem;
    position: absolute;
    top: 4rem;
    left: 3rem;
}
.slider2 h3{
    font-size: 2.4rem;
    text-align: justify;
}
.slider2 p{
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 1.9rem;
}
.slider2 button{
    border: none;
    border-radius: 3rem;
    padding: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    width: 10rem;
    height: 3.2em;
    position: relative;
    right: 9.5rem;
}
.slider2A{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    gap: 5px;
    height: 15rem;
    width: 60.5rem;
    position: absolute;
    left: 3rem;
    bottom: 3rem;
}
.slider2A img{
    width: 9rem;
    height: 13rem;
    border-radius: 9px;
}
.slider3{
    width: 29rem;
    height: 19rem;
    position: absolute;
    left:2.5rem;
    top: 10rem;
}
.slider3 h3{
    font-size: 2.5rem;
    text-align: justify;
}
.slider3 p{
    font-size: 1rem;
    text-align: justify;
}
.slider3 button{
    border: none;
    border-radius: 3rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    width: 15rem;
    height: 3rem;
    position: relative;
    right: 7rem;
}

/* Main Content */
.mainbody-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: black;
    padding-top: 30rem;
    /* border: 2px solid green; */
}
.appstore{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 3rem;
    width: 100%;
    height: 20rem;
}
.appstore1{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
}
.appstoreA{
    display: flex;
    justify-content: start;
    align-items: center;
}
.android{
    width: 4rem;
    height: 3rem;
    position: relative;
    right: 0.6rem;
}
.appstoreA span{
    position: relative;
    right: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.star{
    width: 1.3rem;
    height: 1.2rem;
    color: #f5c518;
}
.halfstar{
    width: 1.3rem;
    height: 1.2rem;
    color: #f5c518;
}
.appstoreC{
    font-size: 1rem;
    font-weight: 600;
}
.appstoreD{
    font-size: 1rem;
    font-weight: 600;
}
.appstore2{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
}
.appstoreAA{
    display: flex;
    justify-content: start;
    align-items: center;
}
.apple{
    width: 4rem;
    height: 3rem;
    position: relative;
    right: 0.7rem;
}
.appstoreAA span{
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    right: 1.1rem;
}
.appstoreCC{
    font-size: 1rem;
    font-weight: 600;
}
.appstoreDD{
    font-size: 1rem;
    font-weight: 600;
}
.appstore3{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
}
.appstoreAAA{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
}
.roku{
    width: 4.5rem;
    height: 4.5rem;
    position:relative;
    bottom: 1rem;
}
.appstoreAAA span{
    position: relative;
    bottom: 0.8rem;
    right: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
}
.appstoreCCC{
    font-size: 1rem;
    font-weight: 600;
}
.appstoreDDD{
    font-size: 1rem;
    font-weight: 600;
}
.appstore4{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: start;
    gap: 1.3rem;
}
.appstoreAAAA{
    font-size: 1.6rem;
}
.appstore4 img{
    width: 11rem;
}

/* save content */
.save-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    min-height: 100vh;
    /* border: 2px solid red; */
}
.save1{
    font-size: 19rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    height:23rem;
    width: 43rem;
    color: rgba(215, 174, 25, 0.272);
    /* border: 2px solid green; */
}
.save2{
    width: 100%;
    height: 9.7rem;
    line-height: 1.1;
    position: relative;
    /* border: 2px solid green; */
}
.save2 div{
    text-align: justify;
    font-size: 3.5rem;
    font-weight: bold;
    color: #f5c518;
    width: 24rem;
    height: 9.3rem;
    padding: 2px;
    position: absolute;
    right: 17rem;
    bottom: 0.3rem;
    /* border: 2px solid red; */
}
.save3{
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    /* min-height: 37rem; */
}
.save3Img .netflixPhone{
    width: 19rem;
    height: 35rem;
    position: relative;
    left: 13rem;
    /* border: 2px solid red; */
}
.save3Img .netlflixLogo{
    width: 15rem;
    height: 11rem;
    z-index: 1;
    position: relative;
    top: 11rem;
    right: 3.5rem;
}
.save3Img .watchlistLogo{
    width: 23rem;
    height: 5rem;
    z-index: 1;
    position: relative;
    bottom: 17.5rem;
    left: 11rem;
    border-radius: 1.5rem;
}
.save3Lastsection p{
    text-align: justify;
    width: 35rem;
    height: 8rem;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    right: 5.3rem;
    top: 11rem;
    /* border: 2px solid green; */
}
.save3Lastsection button{
    width: 18rem;
    height: 3.5rem;
    background-color: #deb212;
    font-weight: bold;
    border-radius: 2.5rem;
    position: relative;
    top: 11rem;
    right: 5.3rem;
    /* border: 2px solid red; */
}
.save4{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
.save4 h6{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    padding: 3px;
    height: 2rem;
}
.save4 p{
    /* border: 2px solid red; */
    text-align: justify;
    width: 53rem;
    height: 10rem;
    font-size: 1.9rem;
    font-weight: 670;
    color: white;
    position: relative;
    &::before{
        content: "\201C";
        position: absolute;
        font-size: 5.5rem;
        left: 0px;
        top: -80px;
        color: rgba(128, 128, 128, 0.555);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    &::after{
        content: "\201D";
        position: absolute;
        font-weight: bold;
        font-size: 5.5rem;
        bottom: -80px;
        right: 0px;
        color: rgba(128, 128, 128, 0.555);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
.save4 span{
    text-align: center;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.918);
    /* border: 2px solid red; */
}
.save4 a{
    text-align: center;
    color: #deb212;
    font-size: 1.3rem;
}

/* watch content */
.watch-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20rem;
    position: relative;
}
/* watch header */
.watch-header h1{
    text-align: center;
    font-size: 19rem;
    font-weight: bolder;
    color: rgba(138, 23, 61, 0.494);
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* border: 2px solid green; */
}
.watch-header h5{
    /* border: 2px solid red; */
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(162, 40, 97);
    width: 27rem;
    height: 8rem;
    line-height: 1;
    text-align: justify;
    position: absolute;
    left: 5rem;
}
/* watch body */
.watch-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.watch-body p{
    color: white;
    width: 27rem;
    height: 8rem;
    font-size: 1.03rem;
    position: relative;
    top: 18rem;
    left: 5rem;
}
.watch-body p span{
    color: #deb212f6;
}
.sonic-image{
    width: 53rem;
    height: 33rem;
    border-radius: 1rem;
}
.sonic-image1{
    width: 26rem;
    height: 13rem;
    border-radius: 1.5rem;
    max-width: 100%;
    position: relative;
    left: 65rem;
    bottom: 19rem;
    z-index: 2;
}
.select-service{
    width: 37rem;
    height: 13rem;
    border-radius: 1.5rem;
    position: relative;
    bottom: 9.7rem;
    right: 20rem;
    z-index: 1;
}
/* explore section */
.explore-container{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* border: 2px solid red; */
}
.explore-header{
    font-size: 18.5rem;
    font-weight: bolder;
    color: rgba(31, 143, 204, 0.392);
    height: 21rem;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}
.explore-body{
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.header-section h5{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(0, 195, 255);
    width: 28rem;
    /* border: 2px solid red; */
}
.end-section{
    display: block;
    position: relative;
    right: 5rem;
    /* border: 2px solid red; */
}
.end-section p{
    text-align: justify;
    line-height: 1.6;
    color: white;
    width: 23rem;
    height: 9rem;
    font-size: 1.13rem;
    /* border: 2px solid red; */
}
.end-section button{
    border-radius: 3rem;
    width: 10rem;
    height: 3rem;
    padding: 0.3rem;
    background-color: #deb212;
    font-weight: bold;
}
.explore-end{
    background-color: black;
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 2px solid red; */
}
.img1-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img1{
    width: 380px;
}
.img2{
    width: 23.7rem;
    z-index: 1;
    position: absolute;
    bottom: 28rem;
    left: 15.2rem;
}
.img3{
    width: 22.7rem;
    z-index: 1;
    position: absolute;
    bottom: 5.2rem;
    left: 18.1rem;
}
.img4{
    width: 21rem;
    z-index: 1;
    position: absolute;
    left: 51rem;
    bottom: 30.5rem;
}
.img5{
    width: 23rem;
    z-index: 1;
    position: absolute;
    left: 51.8rem;
    bottom: 8.7rem;
}

/* extra */
.extra-container{
    background-color: rgb(35, 141, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 46rem;
    /* border: 2px solid red; */
}
.extra-text{
    /* border: 2px solid red; */
    position: relative;
    left: 7rem;
    bottom: 3rem;
}
.extra-text h5{
    /* border: 2px solid red; */
    font-size: 3.5rem;
    font-weight: bold;
    width: 30rem;
}
.extra-text p{
    width: 35rem;
    font-size: 1.1rem;
    /* border: 2px solid red; */
}
.extra-text button{
    width: 10.5rem;
    border-radius: 4rem;
    padding: 0.9rem;
    font-weight: bold;
    border: none;
    background-color: #f5c518;
}
.extra-img{
    /* border: 2px solid red; */
    width: 47rem;
    height: 40rem;
    display: flex;
    align-items: center;
}
.extra-img img{
    width: 50rem;
    height: 37rem;
    position: relative;
    left: 6rem;
}

/* search star */
.searchstar-container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45rem;
    /* border: 2px solid green; */
}
.searchstar-image{
    /* border: 2px solid red; */
    width: 45rem;
    height: 40rem;
    display: flex;
    align-items: center;
}
.searchstar-image img{
    width: 33rem;
    height: 30rem;
    position: relative;
    left: 8rem;
    bottom: 4rem;
}
.searchstar-text{
    /* border: 2px solid red; */
    width: 35rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4rem;
}
.searchstar-text h5{
    font-size: 3.7rem;
    font-weight: 600;
    color: #f5c518;
}
.searchstar-text p{
    color: white;
    text-align: justify;
}
.searchstar-text button{
    border-radius: 2.5rem;
    background-color: #f5c518;
    width: 11rem;
    height: 3rem;
    font-weight: 600;
    position: relative;
    right: 12rem;
}
/* card */
.card-container{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 67rem;
    height: 33rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(to bottom right, purple , transparent 70%),
        linear-gradient(to bottom left, rgb(165, 41, 90) , transparent 70%),
        linear-gradient(to top right, dodgerblue , transparent 70%),
        linear-gradient(to top left, rgb(9, 62, 195) , transparent 70%);
}
.card-text h4{
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    color: aliceblue;
}
.card-text h5{
    font-size: 8rem;
    font-weight: bold;
    color: #f5c518;
}
.card-text img{
    width: 3rem;
    height: 4.5rem;
}
.card button{
    width: 11rem;
    height: 3rem;
    border-radius: 5rem;
    font-weight: 600;
    background-color: #f5c518;
    border: none;
    position: relative;
    top: 2rem;
}

/* Questions and Answer */
.QnA-container{
    /* border: 2px solid red; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5%;
    /* background-color: rgb(33, 31, 31); */
    background-color: #0f0f0f3e;
}
.QnA-container .header{
    font-size: 2.5rem;
    font-weight: 550;
}
.qna{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    width: 85%;
    border-radius: 15px;
    padding: 2%;
    gap: 20px;
    background-color: black;
}
.qna-header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


/* Plex Blog */
.blog-container{
    min-height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0rem 3rem;
}
.blog-header{
    /* border: 2px solid red; */
    color: white;
    font-size: 2.5rem;
    height: 6rem;
    width: 100%;
}
.blog-group{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
}
.blog1{
    position: relative;
    width: 30%;
    height: 90%;
    border-radius: 20px;
    background: url('https://www.plex.tv/wp-content/uploads/2025/03/Plex-iOS-Release-3-1024x576.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    isolation: isolate;
}
.blog1::after{
    border-radius: 20px;
    content: '';
    position: absolute;
    background: rgb(41, 39, 39);
    inset: 0;
    z-index: -1;
    opacity: 0.7;
}
.date1,
.blog-h1 {
    transition: transform 0.3s ease;
}
.date1{
    /* border: 2px solid red; */
    width: 70%;
    height: 10%;
    padding: 3px;
    color: rgba(255, 255, 255, 0.65);
}
.blog-h1{
    /* border: 2px solid red; */
    width: 70%;
    height: 45%;
    padding: 3px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}
.blog1:hover .date1,
.blog1:hover .blog-h1 {
    transform: translateY(-35px);
}
.blog2{
    position: relative;
    width: 30%;
    height: 90%;
    border-radius: 20px;
    background: url('https://www.plex.tv/wp-content/uploads/2025/03/heroplex-logo-tv-1024x576.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    isolation: isolate;
}
.blog2::after{
    border-radius: 20px;
    content: '';
    position: absolute;
    background: rgb(41, 39, 39);
    inset: 0;
    z-index: -1;
    opacity: 0.7;
}
.date2,
.blog-h2 {
    transition: transform 0.3s ease;
}
.date2{
    /* border: 2px solid red; */
    width: 70%;
    height: 10%;
    padding: 3px;
    color: rgba(255, 255, 255, 0.65);
}
.blog-h2{
    /* border: 2px solid red; */
    width: 70%;
    height: 45%;
    padding: 3px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}
.blog2:hover .date2,
.blog2:hover .blog-h2 {
    transform: translateY(-35px);
}
.blog3{
    position: relative;
    width: 30%;
    height: 90%;
    border-radius: 20px;
    background: url('https://www.plex.tv/wp-content/uploads/2025/01/Hero-Reviews-Blog-1024x576.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    isolation: isolate;
}
.blog3::after{
    border-radius: 20px;
    content: '';
    position: absolute;
    background: rgb(41, 39, 39);
    inset: 0;
    z-index: -1;
    opacity: 0.7;
}
.date3,
.blog-h3 {
    transition: transform 0.3s ease;
}
.date3{
    /* border: 2px solid red; */
    width: 70%;
    height: 10%;
    padding: 3px;
    color: rgba(255, 255, 255, 0.65);
}
.blog-h3{
    /* border: 2px solid red; */
    width: 70%;
    height: 30%;
    padding: 3px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}
.blog3:hover .date3,
.blog3:hover .blog-h3 {
    transform: translateY(-35px);
}

/* Footer */
.footer-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    height: 70vh;
    padding-top: 4%;
    background-color: #45454567;
}
.footer-plex-img{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    height: 30%;
    position: relative;
    bottom: 2.7rem;
    cursor: pointer;
}
.footer1{
    /* border: 2px solid red; */
    width: 57%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.company{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company h5{
    font-size: 17px;
}
.company h5:hover{
    cursor: pointer;
    color: #deb212;
}
.company div{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}
.company div:hover{
    cursor: pointer;
    color: #deb212;
}
.premium{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.premium h5{
    font-size: 17px;
}
.premium h5:hover{
    cursor: pointer;
    color: #deb212;
}
.premium div{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}
.premium div:hover{
    cursor: pointer;
    color: #deb212;
}
.downloads{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.downloads h5{
    font-size: 17px;
}
.downloads h5:hover{
    cursor: pointer;
    color: #deb212;
}
.downloads div{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}
.downloads div:hover{
    cursor: pointer;
    color: #deb212;
}
.support{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.support h5{
    font-size: 17px;
}
.support h5:hover{
    cursor: pointer;
    color: #deb212;
}
.support div{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}
.support div:hover{
    cursor: pointer;
    color: #deb212;
}
.watch-free{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.watch-free h5{
    font-size: 17px;
}
.watch-free h5:hover{
    cursor: pointer;
    color: #deb212;
}
.watch-free div{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}
.watch-free div:hover{
    cursor: pointer;
    color: #deb212;
}

/* footer part 2 */
.footer2-container{
    border-top: rgba(207, 197, 197, 0.807);
    height: 25vh;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    background-color: #45454567;
}
.copyright{
    /* border: 2px solid red; */
    width: 55%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.63);
}
.privacy:hover, .accessibility:hover, .manage-cookies:hover, div span:hover{
    color: #deb212;
    cursor: pointer;
}
.footer-icons{
    /* border: 2px solid red; */
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.616);
}
.instagram:hover,
.tiktok:hover,
.x:hover,
.butterfly:hover,
.facebook:hover,
.linkedin:hover,
.youtube:hover{
    cursor: pointer;
    background-color: transparent;
}

