*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom right,rgba(84, 13, 2, 0.87), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
.myContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;
    margin: 0.4rem;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.585);
}
.icon{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
}
.logoImg{
    width: 4.3rem;
}
.icon input{
    width: 27rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 3rem;
    margin-left: 1rem;
    padding: 5px;
    background-color: rgba(76, 60, 60, 0.521);
}
.icon input::placeholder{
    color: rgba(255, 255, 255, 0.961);
    opacity: 0.6;
    background-image: url("src/assets/magnifying-glass-1976105_1280-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 22px 23px;
    background-position: left center;
    padding-left: 1.9rem;
}
.icon input:focus{
    outline: none;
    background-color: white;
}
.listItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27rem;
    height: 3rem;
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: 570;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.799);
    cursor: pointer;
    position: relative;
    left: 7rem;
    /* border: 2px solid red; */
}
.lastNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13rem;
    height: 3rem;
    /* border: 2px solid green; */
}
.lineIcon{
    width: 1px;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.173);
    margin: 0 5px;
}
.lastNav button{
    border: none;
    width: 6rem;
    height: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 4px;
    background-color: rgb(248, 145, 20);
    cursor: pointer;
}
.customDropdown{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.customDropdown .downarrow{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.profileImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(180, 122, 86);
    cursor: pointer;
}
.pageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 100vh;
}
.firstSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstSection h2{
    font-size: 4.3rem;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(187, 24, 81);
    margin-top: 4rem;
    padding: 10px;
    /* border: 2px solid green; */
}
.firstSection p{
    font-size: 1.1rem;
    font-family: arial;
    color: white;
    padding: 10px;
    width: 44rem;
    line-height: 1.5;
    /* border: 2px solid red; */
}
.firstSection button{
    border: none;
    border-radius: 2rem;
    width: 12rem;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(234, 195, 42);
    cursor: pointer;
    transition: transform 0.2s ease;
}
.firstSection button:hover{
    transform: scale(0.95);
}

/* Carousel Header */
.carousel-container{
    margin-top: 4rem;
    width: 67rem;
    height: auto;
    border-radius: 13px;
    /* border: 2px solid green; */
}
.top-bar{
    padding: 5px;
    margin: 5px;
}
.carousel-navItems{
    display: flex;
    gap: 27px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
}
.carousel-navItems span{
    cursor: pointer;
}
.carousel-navItems span:hover{
    color: rgb(222, 174, 41);
}

/* Carousel Slides */
.carousel-box{
    border-radius: 13px;
    position: relative;
    height: 34rem;
    overflow: hidden;
}
.carousel1{
    background: linear-gradient(to bottom right, rgba(86, 18, 123, 1), rgba(86, 18, 123, 0.9), rgba(222, 29, 8, 0.688),  rgba(222, 29, 8, 0.9));
    border-radius: 13px;
    padding: 5px;
    min-height: 34rem;
}
.carousel2{
    background: linear-gradient(to right, rgb(221, 22, 95));
    border-radius: 13px;
    padding: 5px;
    min-height: 34rem;
}
.carousel3{
    background: 
        linear-gradient(to top right, rgba(35, 151, 218, 1), rgba(228, 183, 21, 0.9)),
        linear-gradient(to bottom right, rgba(128, 0, 128, 0.935), rgba(35, 151, 218, 1));
    border-radius: 13px;
    padding: 5px;
    min-height: 34rem;
}
.slider1{
    width: 29rem;
    height: 20rem;
    position: absolute;
    left:3rem;
    top: 10rem;
}
.slider1 h3{
    font-size: 2.5rem;
    text-align: justify;
}
.slider1 p{
    font-size: 1rem;
    text-align: justify;
    margin-top: 1.5rem;
}
.slider1 button{
    border: none;
    border-radius: 4rem;
    padding: 0.8rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    position: relative;
    right: 9.4rem;
}
.slider2{
    width: 29rem;
    height: 20rem;
    position: absolute;
    top: 4rem;
    left: 3rem;
}
.slider2 h3{
    font-size: 2.4rem;
    text-align: justify;
}
.slider2 p{
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 1.9rem;
}
.slider2 button{
    border: none;
    border-radius: 3rem;
    padding: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    width: 10rem;
    height: 3.2em;
    position: relative;
    right: 9.5rem;
}
.slider2A{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    gap: 5px;
    height: 15rem;
    width: 60.5rem;
    position: absolute;
    left: 3rem;
    bottom: 3rem;
}
.slider2A img{
    width: 9rem;
    height: 13rem;
    border-radius: 9px;
}
.slider3{
    width: 29rem;
    height: 19rem;
    position: absolute;
    left:2.5rem;
    top: 10rem;
}
.slider3 h3{
    font-size: 2.5rem;
    text-align: justify;
}
.slider3 p{
    font-size: 1rem;
    text-align: justify;
}
.slider3 button{
    border: none;
    border-radius: 3rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    width: 15rem;
    height: 3rem;
    position: relative;
    right: 7rem;
}

/* Main Content */
.mainbody-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: black;
    padding-top: 30rem;
    /* border: 2px solid green; */
}
.appstore{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 3rem;
    width: 100%;
    height: 20rem;
}
.appstore1{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
}
.appstoreA{
    display: flex;
    justify-content: start;
    align-items: center;
}
.android{
    width: 4rem;
    height: 3rem;
    position: relative;
    right: 0.6rem;
}
.appstoreA span{
    position: relative;
    right: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.star{
    width: 1.3rem;
    height: 1.2rem;
    color: #f5c518;
}
.halfstar{
    width: 1.3rem;
    height: 1.2rem;
    color: #f5c518;
}
.appstoreC{
    font-size: 1rem;
    font-weight: 600;
}
.appstoreD{
    font-size: 1rem;
    font-weight: 600;
}
.appstore2{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3rem;
}
.appstoreAA{
    display: flex;
    justify-content: start;
    align-items: center;
}
.apple{
    width: 4rem;
    height: 3rem;
    position: relative;
    right: 0.7rem;
}
.appstoreAA span{
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    right: 1.1rem;
}
.appstoreCC{
    font-size: 1rem;
    font-weight: 600;
}
.appstoreDD{
    font-size: 1rem;
    font-weight: 600;
}
.appstore3{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
}
.appstoreAAA{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
}
.roku{
    width: 4.5rem;
    height: 4.5rem;
    position:relative;
    bottom: 1rem;
}
.appstoreAAA span{
    position: relative;
    bottom: 0.8rem;
    right: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
}
.appstoreCCC{
    font-size: 1rem;
    font-weight: 600;
}
.appstoreDDD{
    font-size: 1rem;
    font-weight: 600;
}
.appstore4{
    /* border: 2px solid red; */
    width: 17rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    align-items: start;
    gap: 1.3rem;
}
.appstoreAAAA{
    font-size: 1.6rem;
}
.appstore4 img{
    width: 11rem;
}
